<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>パスワードリセットのご案内</h1>
    <p>
      <%= @user.email %> 様
    </p>
    <p>
      パスワードリセットのリクエストを受け付けました。
      以下のリンクをクリックして、新しいパスワードを設定してください：
    </p>
    <p>
      <a href="<%= @reset_url %>">パスワードをリセットする</a>
    </p>
    <p>
      このリンクは24時間有効です。
    </p>
    <p>
      もしパスワードリセットをリクエストしていない場合は、このメールを無視してください。
    </p>
  </body>
</html> 